<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">사용자 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/users">
                                    <i class="fas fa-search"></i>
                                    사용자 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/users/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    사용자 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">사무소 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/office">
                                    <i class="fas fa-search"></i>
                                    사무소 관리
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/office/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    사무소 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">법인 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/company/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/dm">
                                    <i class="fas fa-search"></i>
                                    DM 검색
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>사용자 등록</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form id="userForm" th:action="@{/admin/users/form}" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="lawFirmId">사무소</label>
                                <select class="form-control" id="lawFirmId" name="lawFirmId">
                                    <option value="" selected>선택</option>
                                    <option th:each="lawFirm: ${lawFirms}" th:value="${lawFirm.id}" th:text="${lawFirm.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="email">아이디</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="아이디" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="name">이름</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="이름" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="password">비밀번호</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="password_confirm">비밀번호 확인</label>
                                <input type="password" class="form-control" id="password_confirm" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div>
                            <button type="button" class="btn btn-secondary" id="cancel_btn">뒤로가기</button>
                            <button type="button" class="btn btn-primary" id="save_btn">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //contents -->
    </div>
    <!-- //container -->
    <script>

        $(document).ready(function () {

            $('#cancel_btn').on('click', function () {
                window.history.back();
            });

            $('#save_btn').on('click', function(){

                if($('#lawFirmId').val() === '') {
                    alert('소속사무소를 선택해 주세요.');
                    $('#lawFirmId').focus();
                    return false;
                }

                if($('#email').val() === '') {
                    alert('아이디를 입력하세요.');
                    $('#email').focus();
                    return false;
                }

                if($('#name').val() === '') {
                    alert('이름을 입력하세요.');
                    $('#name').focus();
                    return false;
                }

                if($('#password').val() === '') {
                    alert('비밀번호를 입력하세요.');
                    $('#password').focus();
                    return false;
                }

                if($('#password').val() !== $('#password_confirm').val()) {
                    alert('비밀번호가 일치하지않습니다.');
                    $('#password_confirm').focus();
                    return false;
                }

                $('#userForm').submit();

            });

        });
    </script>
</th:block>
</html>