<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/detail_layout">
<th:block layout:fragment="content_body">
    <div class="container-fluid">
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>법인 상세</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>법인</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-secondary'>
                                    수정
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">법인등록번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyNumber1" name="companyNumber1" th:value = "${company.companyNumber1}">
                                    <div class="input-group-addon">
                                        <span class="input-group-text">-</span>
                                    </div>
                                    <input type="text" class="form-control" id="companyNumber2" name="companyNumber2" th:value = "${company.companyNumber2}">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">등기번호</label>
                                <input type="text" class="form-control" id="registerNumber" placeholder=""
                                       th:value="${company.registerNumber}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">관할등기소</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-control" id="">
                                            <option selected>전체</option>
                                            <option value="1">중앙등기국</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인구분</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-control" id="">
                                            <option selected>전체</option>
                                            <option value="1">주식회사</option>
                                            <option value="2">유한회사</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">상호</label>
                                <input type="text" class="form-control" id="companyName" name="companyName"
                                       th:value="${company.companyName}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인 종류 표시</label>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                            <span class="input">
                                                <input type="radio" id="displayCompanyTypeFront"
                                                       name="displayCompanyType" value="FRONT"
                                                       th:field="${company.displayCompanyType}"><i></i>
                                            </span>
                                            <label for="displayCompanyTypeFront">앞</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                            <span class="input">
                                                <input type="radio" id="displayCompanyTypeBack"
                                                       name="displayCompanyType" value="BACK"
                                                       th:field="${company.displayCompanyType}"><i></i>
                                            </span>
                                            <label for="displayCompanyTypeBack">뒤</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">병기 상호</label>
                                <input type="text" class="form-control" id="companySubName" name="companySubName"
                                       placeholder="" th:value="${company.companySubName}">
                            </div>
                        </div>

                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>업장</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-secondary'>
                                    수정
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">본점주소</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyAddress" name="companyAddress"
                                           th:value="${company.companyAddress}">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary" name="postal_code_search_btn" data-id="companyAddress">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="companyPostalCode" name="companyPostalCode"
                                       placeholder="" th:value="${company.companyPostalCode}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">송달장소</label>
                                <span class="form-check form-check-inline p-0">
                                    <div class="form-input">
                                        <span class="input">
                                            <input type="checkbox" id="" name="" value=""><i></i>
                                        </span>
                                        <label for="">본점 주소와 다른 경우</label>
                                    </div>
                                </span>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deliveryPlace" name="deliveryPlace" th:value="${company.deliveryPlace}">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary" name="postal_code_search_btn" data-id="deliveryPlace">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="deliveryPlacePostalCode"
                                       name="deliveryPlacePostalCode" placeholder=""
                                       th:value="${company.deliveryPlacePostalCode}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="">사업자등록번호</label>
                                <input type="text" class="form-control" id="businessNumber" name="businessNumber"
                                       placeholder="" th:value="${company.businessNumber}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">업태</label>
                                <input type="text" class="form-control" id="businessCondition" name="businessCondition"
                                       placeholder="" th:value="${company.businessCondition}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">업종</label>
                                <input type="text" class="form-control" id="businessType" name="businessType"
                                       placeholder="" th:value="${company.businessType}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">결산기</label>
                                <select class="form-control" id="settlementMonth" name="settlementMonth">
                                    <option selected>전체</option>
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}+'월'" th:selected="${i == company.settlementMonth}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">1주의 금액</label>
                                <input type="text" class="form-control" id="stock.amount" name="stock.amount" placeholder="" required="" th:value="${company.stock.amount}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">발행할 주식의 총수</label>
                                <input type="text" class="form-control" id="stock.scheduleCount" name="stock.scheduleCount" placeholder="" required="" th:value="${company.stock.scheduleCount}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">발행주식의 총수</label>
                                <input type="text" class="form-control" id="stock.issuedCount" name="stock.issuedCount" placeholder="" required="" th:value="${company.stock.issuedCount}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">자본금</label>
                                <div>
                                    <p th:text="${company.stock.amount * (company.stock.normalCount + company.stock.firstCount)}"></p>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width=" 1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>임원</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary'>
                                    임원 추가
                                </button>
                                <button type='button' class='btn btn-outline-secondary'>
                                    선택 수정
                                </button>
                                <button type='button' class='btn btn-outline-danger'>
                                    선택 삭제
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col width="50px"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>직위</th>
                                <th>성명</th>
                                <th>주민등록번호</th>
                                <th>주소</th>
                                <th>취임일자</th>
                                <th>임기만료일</th>
                                <th>주식수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    대표이사
                                </td>
                                <td>
                                    유혁재
                                </td>
                                <td>
                                    800923-1000000
                                </td>
                                <td>
                                    서울특별시 양천구 33
                                </td>
                                <td>
                                    2016-03-01 <small>(임기 <span>3</span>년)</small>
                                </td>
                                <td>
                                    2016-03-01
                                </td>
                                <td>
                                    1000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">원수</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary">검색</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">비고</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                                <label for="">중복지위 추가</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                                <label for="">대표권 있음</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">직위</label>
                                    <select class="form-control" id="">
                                        <option selected>사내이사</option>
                                        <option value="1">대표이사</option>
                                        <option value="2">공동대표이사</option>
                                        <option value="">대표집행임원</option>
                                        <option value="">사외이사</option>
                                        <option value="">기타비상무이사</option>
                                        <option value="">집행임원</option>
                                        <option value="">감사</option>
                                        <option value="">감사위원</option>
                                        <option value="">주주</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">성명</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">주민등록번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-addon">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">주식 수</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="">
                                                <option selected>보통주식</option>
                                                <option value="1">종류주식</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">취임일자</label>
                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">임기</label>
                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">임기만료일</label>
                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">설립일자</label>
                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>주주</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary'>
                                    주주 추가
                                </button>
                                <button type='button' class='btn btn-outline-secondary'>
                                    선택 수정
                                </button>
                            </div>
                        </div>
                        <div class="box-status">
                            <div class="item">
                                <div class="item-header">
                                    입력된 주식수
                                </div>
                                <div class="item-body">
                                    <span class='text-danger'>4000</span>주
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-header">
                                    발행주식총수
                                </div>
                                <div class="item-body">
                                    <span class='text-danger'>5000</span>주
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col width="50px"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>직위</th>
                                <th>성명</th>
                                <th>주민등록번호</th>
                                <th>주소</th>
                                <th>주식수</th>
                                <th>주식의 종류</th>
                                <th>비율</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    대표이사
                                </td>
                                <td>
                                    유혁재
                                </td>
                                <td>
                                    800923-1000000
                                </td>
                                <td>
                                    서울특별시 양천구 33
                                </td>
                                <td>
                                    1000
                                </td>
                                <td>
                                    보통주식
                                </td>
                                <td>
                                    25%
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">원수</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary">검색</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">비고</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                                <label for="">중복지위 추가</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                                <label for="">대표권 있음</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">직위</label>
                                    <select class="form-control" id="">
                                        <option selected>사내이사</option>
                                        <option value="1">대표이사</option>
                                        <option value="2">공동대표이사</option>
                                        <option value="">대표집행임원</option>
                                        <option value="">사외이사</option>
                                        <option value="">기타비상무이사</option>
                                        <option value="">집행임원</option>
                                        <option value="">감사</option>
                                        <option value="">감사위원</option>
                                        <option value="">주주</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">성명</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">주민등록번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-addon">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">주식 수</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="">
                                                <option selected>보통주식</option>
                                                <option value="1">종류주식</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">비율</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>상담내역</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary'>
                                    상담 내역 추가
                                </button>
                                <button type='button' class='btn btn-outline-secondary'>
                                    선택 수정
                                </button>
                                <button type='button' class='btn btn-outline-danger'>
                                    선택 삭제
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col width="50px"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>상담자</th>
                                <th>상담 일시</th>
                                <th>법인 담당자</th>
                                <th>상담내용</th>
                                <th>사건진행정도</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    유혁재
                                </td>
                                <td>
                                    2020-09-09 12:13:14
                                </td>
                                <td>
                                    유혁재
                                </td>
                                <td>
                                    상담 내용
                                </td>
                                <td>
                                    서울특별시 양천구 33
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="">상담자</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">법인담당자</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">상태</label>
                                    <select class="form-control" id="">
                                        <option selected>진행중</option>
                                        <option value="1">진행완료</option>
                                        <option value="2">보류</option>
                                        <option value="">취소</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="">상담 내용</label>
                                    <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        $(document).ready(function () {

            $('button[name="postal_code_search_btn"]').on('click', function() {
                var $this = $(this)
                daum.postcode.load(function(){
                    new daum.Postcode({
                        oncomplete: function(data) {
                            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                            if($this.data('id') == 'companyAddress') {
                                $('#companyAddress').val(data.address);
                                $('#companyPostalCode').val(data.zonecode);
                            } else {
                                $('#deliveryPlace').val(data.address);
                                $('#deliveryPlacePostalCode').val(data.zonecode);
                            }
                        }
                    }).open();
                });
            });


        });

        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
        // $('.input-daterange input').each(function() {
        //     $(this).datepicker('clearDates');
        // });
    </script>
</th:block>
</html>