<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  active" href="/company/add">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>법인 등록</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <strong>법인 등록</strong>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form th:id="company-form" th:name="company" th:action="@{/company/add}" method="post">
                        <input th:type="hidden" th:name="lawFirmId" th:value="${lawFirmId}">
                        <h4 class="mb-3">
                            <i>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                </svg>
                            </i>
                            <strong>법인</strong>
                        </h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">법인등록번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="companyNumber1">
                                    <div class="input-group-addon">
                                        <span class="input-group-text">-</span>
                                    </div>
                                    <input type="text" class="form-control" name="companyNumber2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">등기번호</label>
                                <input type="text" class="form-control" id="registerNumber" name="registerNumber"
                                       value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="d-flex justify-content-between">
                                    <label for="">관할등기소</label>
                                    <button type="button" class="btn btn-link p-0" data-toggle="modal"
                                            data-target="#modal-favorite">☆ 즐겨찾기
                                    </button>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="registerOffice" name="registerOffice">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary">검색</button>
                                    </div>
                                </div>
                                <div class="modal fade modal-favorite" id="modal-favorite">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">즐겨찾는 관할등기소</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="list-group">
                                                    <button type="button" class="list-group-item list-group-item-action"
                                                            th:each="favoriteOffice: ${favoriteOffices}"
                                                            th:id="${favoriteOffice.id.registerOfficeId}"
                                                            name="favoriteOffice" th:value="${favoriteOffice.name}"
                                                            th:text="${favoriteOffice.name}"
                                                            data-dismiss="modal"></button>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인구분</label>
                                <div class="input-group-prepend">
                                    <select class="form-control" id="companyDivision" name="companyDivision">
                                        <option selected value="">선택</option>
                                        <option value="주식회사">주식회사</option>
                                        <option value="유한회사">유한회사</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">상호</label>
                                <input type="text" class="form-control" id="companyName" name="companyName" value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">관리 번호</label>
                                <input type="text" class="form-control" name="companyManageNumber" value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">법인 종류 표시</label>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="radio" id="displayCompanyTypeFront"
                                                           name="displayCompanyType" value="FRONT"><i></i>
                                                </span>
                                            <label for="">앞</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="radio" id="displayCompanyTypeBack"
                                                           name="displayCompanyType" value="BACK"><i></i>
                                                </span>
                                            <label for="">뒤</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">관리 상태</label>
                                <input type="text" class="form-control" name="companyManageState" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인 상태</label>
                                <input type="text" class="form-control" name="companyState" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">병기 상호</label>
                                <input type="text" class="form-control" id="companySubName" name="companySubName"
                                       value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">추천인</label>
                                <input type="text" class="form-control" id="recommender" name="recommender"
                                       placeholder="" value="">
                            </div>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>업장</strong>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">본점주소</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyAddress" name="companyAddress"
                                           value="">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary"
                                                name="postal_code_search_btn" data-id="companyAddress">검색
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="companyPostalCode" name="companyPostalCode"
                                       value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">송달장소</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deliveryPlace" name="deliveryPlace"
                                           value="">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary"
                                                name="postal_code_search_btn" data-id="deliveryPlace">검색
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="deliveryPlacePostalCode"
                                       name="deliveryPlacePostalCode" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="">사업자등록번호</label>
                                <input type="text" class="form-control" id="businessNumber" name="businessNumber"
                                       value="">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">업태</label>
                                <input type="text" class="form-control" id="businessCondition" name="businessCondition"
                                       value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">업종</label>
                                <input type="text" class="form-control" id="businessType" name="businessType" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">결산기</label>
                                <select class="form-control" id="settlementMonth" name="settlementMonth">
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}"
                                            th:text="${i}+'월'"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">1주의 금액</label>
                                <input type="text" class="form-control" id="stockAmount" name="stock[amount]"
                                       numberonly="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">발행할 주식의 총수</label>
                                <input type="text" class="form-control" id="stockScheduleCount"
                                       name="stock[scheduleCount]" numberonly="true">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">발행주식의 총수</label>
                                <input type="text" class="form-control" id="stockIssuedCount"
                                       name="stock[issuedCount]" numberonly="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">자본금</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="capital" name="stock[capital]" value=""
                                           numberonly="true">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary"
                                                id="stock-calculate-btn">계산하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="d-flex justify-content-between mb-1">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>연락처</strong>
                            </h4>
                            <button type='button' class='btn btn-outline-primary' id="add-contact-btn">
                                연락처 추가
                            </button>
                        </div>
                        <div class="add-item" id="contactGroup">
                            <div class="row">
                                <div class="col-md-9 mb-3">
                                    <label for="">연락처</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select name="contacts[0][type]" class="form-control">
                                                <option value="FACTORY">공장</option>
                                                <option value="DIRECT_PHONE">직통번호</option>
                                                <option value="MOBILE">휴대폰</option>
                                                <option value="FAX">회사팩스</option>
                                                <option value="EMAIL">이메일</option>
                                                <option value="PHONE">유선전화</option>
                                                <option value="TAX_EMAIL">세금계산서용 이메일</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" name="contacts[0][value]">
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="">메모</label>
                                    <input type="text" class="form-control" name="contacts[0][memo]" placeholder=""
                                           required="">
                                </div>
                                <div class="col-md-1 mb-3">
                                    <label for="">Actions</label>
                                    <div class="btns">
                                        <button class="btn btn-sm btn-outline-primary">
                                            <i class="fas fa-save"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width=" 1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>임원</strong>
                                <strong class="text-primary" id="executiveCount"></strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary' data-toggle="modal"
                                        data-target="#modal-executive-add">
                                    임원 추가
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col width="100px"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>성명</th>
                                <th>직위</th>
                                <th>주민등록번호</th>
                                <th>주소</th>
                                <th>취임일자</th>
                                <th>임기만료일</th>
                                <th>주식수</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="executiveGroup">
                            </tbody>
                        </table>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>주주</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary' data-toggle="modal"
                                        data-target="#modal-stockholder-add">
                                    주주 추가
                                </button>
                            </div>
                        </div>
                        <div class="box-status">
                            <div class="item">
                                <div class="item-header">
                                    입력된 주식수
                                </div>
                                <div class="item-body">
                                    <span class='text-danger'>4000</span>주
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-header">
                                    발행주식총수
                                </div>
                                <div class="item-body">
                                    <span class='text-danger'>5000</span>주
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>성명</th>
                                <th>주민등록번호</th>
                                <th>주소</th>
                                <th>주식수</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>목적사항</strong>
                            </h4>
                        </div>
                        <div>
                            <textarea name="purposeDetail" id="purpose_detail" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                                    </svg>
                                </i>
                                <strong>상담내역</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary' data-toggle="modal"
                                        data-target="#modal-consult-add">
                                    상담 내역 추가
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>상담자</th>
                                <th>상담 일시</th>
                                <th>법인 담당자</th>
                                <th>상담내용</th>
                                <th>사건진행정도</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div>
                            <button type="button" class="btn btn-dark" id="save-btn">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //contents -->


        <div class="modal fade modal-executive" id="modal-executive-add">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">임원 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">성명</label>
                                    <input type="text" class="form-control" id="name" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">주소</label>
                                    <input type="text" class="form-control" id="address" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="">직위</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position1" name="position" value="사내이사"><i></i>
                                                </span>
                                                <label for="">사내이사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position2" name="position" value="대표이사"><i></i>
                                                </span>
                                                <label for="">대표이사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position3" name="position" value="공동대표이사"><i></i>
                                                </span>
                                                <label for="">공동대표이사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position4" name="position" value="대표집행임원"><i></i>
                                                </span>
                                                <label for="">대표집행임원</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position5" name="position" value="사외이사"><i></i>
                                                </span>
                                                <label for="">사외이사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position6" name="position" value="기타비상무이사"><i></i>
                                                </span>
                                                <label for="">기타비상무이사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position7" name="position" value="집행임원"><i></i>
                                                </span>
                                                <label for="">집행임원</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position8" name="position" value="감사"><i></i>
                                                </span>
                                                <label for="">감사</label>
                                            </div>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id="position9" name="position" value="감사위원"><i></i>
                                                </span>
                                                <label for="">감사위원</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">주민등록번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="registrationNumber1" numberonly="true">
                                        <div class="input-group-addon">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input type="text" class="form-control" id="registrationNumber2" numberonly="true">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">주식 수</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="stockType">
                                                <option selected>보통주식</option>
                                                <option value="1">종류주식</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" id="stockCount" numberonly="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3 input-daterange">
                                    <label for="">취임일자</label>
                                    <input type="text" class="form-control" id="inauguratedAt" placeholder="" required="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">임기</label>
                                    <select class="form-control" id="term">
                                        <option selected value="1">1년</option>
                                        <option value="2">2년</option>
                                        <option value="3">3년</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3 input-daterange">
                                    <label for="">임기만료일</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="expiredAt" placeholder="" required="">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    id="expire-calculate-btn">계산하기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">임원에 관한 사항</label>
                                    <input type="text" class="form-control" id="detail" placeholder="" required="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="add-executive-btn" data-dismiss="modal">추가</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-stockholder " id="modal-stockholder-add">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-stockholder-label">주주 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">성명</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">비고</label>
                                    <div class="mt-1">
                                        <div class="form-check form-check-inline">
                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                <label for="">대표권 있음</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="">주민등록번호</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-addon">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="">주식 수</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="">
                                                <option selected>보통주식</option>
                                                <option value="1">종류주식</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="">주소</label>
                                    <input type="text" class="form-control" id="" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-consult" id="modal-consult-add">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">상담 추가</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="add-item border p-3 mb-3">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="">상담자</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">법인담당자</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="">상태</label>
                                    <select class="form-control" id="">
                                        <option selected>진행중</option>
                                        <option value="1">진행완료</option>
                                        <option value="2">보류</option>
                                        <option value="">취소</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="">상담 내용</label>
                                    <textarea name="" id="" cols="30" rows="10"
                                              class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- //container -->

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/static/js/serializejson.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.tmpl.min.js}"></script>
    <script>
        $(document).ready(function () {

            $('button[name="postal_code_search_btn"]').on('click', function () {
                var $this = $(this)
                daum.postcode.load(function () {
                    new daum.Postcode({
                        oncomplete: function (data) {
                            if ($this.data('id') == 'companyAddress') {
                                $('#companyAddress').val(data.address);
                                $('#companyPostalCode').val(data.zonecode);
                                $('#deliveryPlace').val(data.address);
                                $('#deliveryPlacePostalCode').val(data.zonecode);
                            } else {
                                $('#deliveryPlace').val(data.address);
                                $('#deliveryPlacePostalCode').val(data.zonecode);
                            }
                        }
                    }).open();
                });
            });

            $('button[name="favoriteOffice"]').on('click', function () {
                $('#registerOffice').val($(this).val());

            });

            $('#save-btn').on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '/v1/companies',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify($('#company-form').serializeJSON({useIntKeysAsArrayIndex: true})),
                    success: function(res) {
                        location.href = '/company';
                    },
                    error: function(request, status, error) {
                        alert('법인 등록에 실패하였습니다.')
                    }
                })
            });

            $('#add-contact-btn').on('click', function () {
                var i = $('#contactGroup > div').length
                $('#contact-template').tmpl([{index: i}]).appendTo($('#contactGroup'))
            });

            $('#stock-calculate-btn').on('click', function () {

                let amount = $('#stockAmount').val();
                if (amount == '') {
                    amount = 0;
                }
                let count = $('#stockIssuedCount').val();
                if (count == '') {
                    count = 0;
                }

                $('#capital').val(amount * count);

            });

            $('#expire-calculate-btn').on('click', function(){
                let expiredAt = new Date($('#inauguratedAt').val());
                expiredAt.setFullYear(expiredAt.getFullYear() + Number($('#term').val()));
               $('#expiredAt').val(getFormatDate(expiredAt))
            });

            $('#add-executive-btn').on('click', function () {
                let i = $('#executiveGroup > tr').length

                let name = $('#name').val();
                let address = $('#address').val();
                let position = ""
                $('input:checkbox[name="position"]').each(function(){
                    if(this.checked) {
                        if(position.length > 0) {
                            position = $(this).val()
                        } else {
                            position += ',' + $(this).val()
                        }
                    }
                });
                let registrationNumber1 = $('#registrationNumber1').val();
                let registrationNumber2 = $('#registrationNumber2').val();
                let inauguratedAt = $('#inauguratedAt').val();
                let term = $('#term').val();
                let expiredAt = $('#expiredAt').val();
                let stockCount = $('#stockCount').val();
                let detail = $('#detail').val();

                $('#executive-template').tmpl([{index: i, name: name, position: position, registrationNumber1: registrationNumber1, registrationNumber2: registrationNumber2, address: address, inauguratedAt: inauguratedAt, term: term, expiredAt: expiredAt, stockCount: stockCount, detail: detail}]).appendTo($('#executiveGroup'))
                $('#executiveCount').text(i + 1);

            });


        });

        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });

        $(document).on("keyup", "input:text[numberOnly]", function () {
            $(this).val($(this).val().replace(/[^0-9]/gi, ""));
        });

        function getFormatDate(date){
            var year = date.getFullYear();
            var month = (1 + date.getMonth());
            month = month >= 10 ? month : '0' + month;
            var day = date.getDate();
            day = day >= 10 ? day : '0' + day;
            return year + '-' + month + '-' + day;
        }

    </script>

    <script id="contact-template" type="text/x-jQuery-tmpl">
        <div class="row">
            <div class="col-md-9 mb-3">
                <label for="">연락처</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select name="contacts[{{= index}}][type]" class="form-control">
                            <option value="FACTORY">공장</option>
                            <option value="DIRECT_PHONE">직통번호</option>
                            <option value="MOBILE">휴대폰</option>
                            <option value="FAX">회사팩스</option>
                            <option value="EMAIL">이메일</option>
                            <option value="PHONE">유선전화</option>
                            <option value="TAX_EMAIL">세금계산서용 이메일</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="contacts[{{= index}}][value]">
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="">메모</label>
                <input type="text" class="form-control" name="contacts[{{= index}}][memo]" placeholder="" required="">
            </div>
            <div class="col-md-1 mb-3">
                <label for="">Actions</label>
                <div class="btns">
                    <button class="btn btn-sm btn-outline-primary">
                        <i class="fas fa-save"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>

    </script>

    <script id="executive-template" type="text/x-jQuery-tmpl">
        <tr>
            <td>
                {{= name}}
            </td>
            <td>
                {{= position}}
            </td>
            <td>
                {{= registrationNumber1}}-{{= registrationNumber2}}
            </td>
            <td>
                {{= address}}
            </td>
            <td>
                {{= inauguratedAt}} <small>(임기 <span>{{= term}}</span>년)</small>
            </td>
            <td>
                {{= expiredAt}}
            </td>
            <td>
                {{= stockCount}}
            </td>
            <td>
                <button class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
            <input type="hidden" name="executives[{{= index}}][name]" value="{{= name}}"/>
            <input type="hidden" name="executives[{{= index}}][position]" value="{{= position}}"/>
            <input type="hidden" name="executives[{{= index}}][registrationNumber1]" value="{{= registrationNumber1}}"/>
            <input type="hidden" name="executives[{{= index}}][registrationNumber2]" value="{{= registrationNumber2}}"/>
            <input type="hidden" name="executives[{{= index}}][address]" value="{{= address}}"/>
            <input type="hidden" name="executives[{{= index}}][inauguratedAt]" value="{{= inauguratedAt}} "/>
            <input type="hidden" name="executives[{{= index}}][term]" value="{{= term}}"/>
            <input type="hidden" name="executives[{{= index}}][expiredAt]" value="{{= expiredAt}}"/>
            <input type="hidden" name="executives[{{= index}}][stockCount]" value="{{= stockCount}}"/>
            <input type="hidden" name="executives[{{= index}}][detail]" value="{{= detail}}"/>
        </tr>

    </script>

</th:block>
</html>