<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  active" href="/company/add">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>법인 등록</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <strong>법인 등록</strong>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form th:id="company-form" th:name="company" th:action="@{/company/add}" method="post">
                        <input th:type="hidden" th:name="lawFirmId" th:value="${lawFirmId}">
                        <h4 class="mb-3">
                            <i>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                </svg>
                            </i>
                            <strong>법인</strong>
                        </h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">법인등록번호</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="companyNumber1">
                                    <div class="input-group-addon">
                                        <span class="input-group-text">-</span>
                                    </div>
                                    <input type="text" class="form-control" name="companyNumber2">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">등기번호</label>
                                <input type="text" class="form-control" id="registerNumber" name="registerNumber" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="d-flex justify-content-between">
                                    <label for="">관할등기소</label>
                                    <button type="button" class="btn btn-link p-0" data-toggle="modal" data-target="#modal-favorite">☆ 즐겨찾기</button>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="registerOffice" name="registerOffice">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary">검색</button>
                                    </div>
                                </div>
                                <div class="modal fade modal-favorite" id="modal-favorite">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">즐겨찾는 관할등기소</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="list-group" th:each="favoriteOffice: ${favoriteOffices}">
                                                    <button type="button" class="list-group-item list-group-item-action" th:id="${favoriteOffice.id.registerOfficeId}" name="favoriteOffice" th:value="${favoriteOffice.name}" th:text="${favoriteOffice.name}"></button>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인구분</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-control" id="companyDivision" name="companyDivision">
                                            <option selected value="">선택</option>
                                            <option value="주식회사">주식회사</option>
                                            <option value="유한회사">유한회사</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">상호</label>
                                <input type="text" class="form-control" id="companyName" name="companyName" value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">관리 번호</label>
                                <input type="text" class="form-control" name="companyManageNumber"  value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">법인 종류 표시</label>
                                <div class="mt-1">
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="radio" id="displayCompanyTypeFront" name="displayCompanyType" value="FRONT"><i></i>
                                                </span>
                                            <label for="">앞</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="radio" id="displayCompanyTypeBack" name="displayCompanyType" value="BACK"><i></i>
                                                </span>
                                            <label for="">뒤</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">관리 상태</label>
                                <input type="text" class="form-control" name="companyManageState" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">법인 상태</label>
                                <input type="text" class="form-control" name="companyState" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">병기 상호</label>
                                <input type="text" class="form-control" id="companySubName" name="companySubName" value="">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">추천인</label>
                                <input type="text" class="form-control" id="recommender" name="recommender" placeholder="" value="">
                            </div>
                        </div>
                        <hr />
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </svg>
                                </i>
                                <strong>업장</strong>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">본점주소</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyAddress" name="companyAddress" value="">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary" name="postal_code_search_btn" data-id="companyAddress">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="companyPostalCode" name="companyPostalCode" value="" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="">송달장소</label>
                                <span class="form-check form-check-inline p-0">
                                    <div class="form-input">
                                        <span class="input">
                                            <input type="checkbox" id=""><i></i>
                                        </span>
                                        <label for="">본점 주소와 다른 경우</label>
                                    </div>
                                </span>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deliveryPlace" name="deliveryPlace" value="">
                                    <div class="input-group-append">
                                        <button type='button' class="btn btn-outline-secondary" name="postal_code_search_btn" data-id="deliveryPlace">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">우편번호</label>
                                <input type="text" class="form-control" id="deliveryPlacePostalCode" name="deliveryPlacePostalCode" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="">사업자등록번호</label>
                                <input type="text" class="form-control" id="businessNumber" name="businessNumber" value="">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="">업태</label>
                                <input type="text" class="form-control" id="businessCondition" name="businessCondition" value="">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="">업종</label>
                                <input type="text" class="form-control" id="businessType" name="businessType" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">결산기</label>
                                <select class="form-control" id="settlementMonth" name="settlementMonth">
                                    <option selected>전체</option>
                                    <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}+'월'"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">1주의 금액</label>
                                <input type="text" class="form-control" id="stock.amount" name="stock[amount]" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">발행할 주식의 총수</label>
                                <input type="text" class="form-control" id="stock.scheduleCount" name="stock[scheduleCount]">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="">발행주식의 총수</label>
                                <input type="text" class="form-control" id="stock.issuedCount" name="stock.[issuedCount]" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">자본금 ( 1주당 금액 * (보통주식수 + 우선주식수))</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="capital" value="" readonly>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary">계산하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="d-flex justify-content-between">
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </svg>
                                </i>
                                <strong>연락처</strong>
                            </h4>
                            <button type='button' class='btn btn-outline-primary'>
                                연락처 추가
                            </button>
                        </div>
                        <div class="add-item">
                            <div class="row">
                                <div class="col-md-10 mb-3">
                                    <label for="">연락처</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select name="contacts[0][type]" class="form-control">
                                                <option value="FACTORY">공장</option>
                                                <option value="DIRECT_PHONE">직통번호</option>
                                                <option value="MOBILE">휴대폰</option>
                                                <option value="FAX">회사팩스</option>
                                                <option value="EMAIL">이메일</option>
                                                <option value="PHONE">유선전화</option>
                                                <option value="TAX_EMAIL">세금계산서용 이메일</option>
                                            </select>
                                        </div>
                                        <input type="text" class="form-control" name="contacts[0][value]">
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="">메모</label>
                                    <input type="text" class="form-control" name="contacts[0][memo]" placeholder="" required="">
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h4>
                                <i>
                                    <svg width=" 1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </svg>
                                </i>
                                <strong>임원</strong>
                                <strong class="text-primary">3</strong>
                            </h4>
                            <div>
                                <button type='button' class='btn btn-outline-primary' data-toggle="modal" data-target="#modal-executive-add">
                                    임원 추가
                                </button>
                            </div>
                        </div>
                        <table class="table table-bordered mb-3">
                            <colgroup>
                                <col width="50px" />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                                <col />
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>직위</th>
                                <th>성명</th>
                                <th>주민등록번호</th>
                                <th>주소</th>
                                <th>취임일자</th>
                                <th>임기만료일</th>
                                <th>주식수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <div class="form-input">
                                                <span class="input">
                                                    <input type="checkbox" id=""><i></i>
                                                </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    대표이사
                                </td>
                                <td>
                                    유혁재
                                </td>
                                <td>
                                    800923-1000000
                                </td>
                                <td>
                                    서울특별시 양천구 33
                                </td>
                                <td>
                                    2016-03-01 <small>(임기 <span>3</span>년)</small>
                                </td>
                                <td>
                                    2016-03-01
                                </td>
                                <td>
                                    1000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal fade modal-executive" id="modal-executive-add">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">임원 추가</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="add-item border p-3 mb-3">
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">성명</label>
                                                    <input type="text" class="form-control" id="" value="">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="">비고</label>
                                                    <div class="mt-1">
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">대표권 있음</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="">직위</label>
                                                    <div class="mt-1">
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">사내이사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">대표이사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">공동대표이사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">대표집행임원</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">사외이사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">기타비상무이사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">집행임원</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">감사</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <div class="form-input">
                                                                <span class="input">
                                                                    <input type="checkbox" id=""><i></i>
                                                                </span>
                                                                <label for="">감사위원</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">주민등록번호</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control">
                                                        <div class="input-group-addon">
                                                            <span class="input-group-text">-</span>
                                                        </div>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="">주식 수</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <select class="form-control" id="">
                                                                <option selected>보통주식</option>
                                                                <option value="1">종류주식</option>
                                                            </select>
                                                        </div>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">취임일자</label>
                                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="">임기</label>
                                                    <select class="form-control" id="">
                                                        <option selected>1년</option>
                                                        <option value="1">2년</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="">임기만료일</label>
                                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="">설립일자</label>
                                                    <input type="text" class="form-control" id="" placeholder="" required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <button type="button" class="btn btn-primary">추가</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div>
                            <button type="button" class="btn btn-dark" id="save-btn">저장하기</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" th:src="@{/static/js/serializejson.js}"></script>
    <script>
        $(document).ready(function () {

            $('button[name="postal_code_search_btn"]').on('click', function() {
                var $this = $(this)
                daum.postcode.load(function(){
                    new daum.Postcode({
                        oncomplete: function(data) {
                            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                            if($this.data('id') == 'companyAddress') {
                                $('#companyAddress').val(data.address);
                                $('#companyPostalCode').val(data.zonecode);
                            } else {
                                $('#deliveryPlace').val(data.address);
                                $('#deliveryPlacePostalCode').val(data.zonecode);
                            }
                        }
                    }).open();
                });
            });

            $('button[name="favoriteOffice"]').on('click', function(i, v){
                $('#registerOffice').val($(this).val());

            });

            $('#save-btn').on('click', function (){
                console.log($('#company-form').serializeJSON())
               return false
            });


        });
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
        // $('.input-daterange input').each(function() {
        //     $(this).datepicker('clearDates');
        // });
    </script>
</th:block>
</html>