<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/company/add">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 이력관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>법인 검색</h1>
                </div>
            </div>
            <div class="box-status">
                <div class="item">
                    <div class="item-header">
                        <strong th:text="${name}"></strong>님의 관할 등기소 등록 법인수
                    </div>
                    <div class="item-body">
                        <span th:text="${totalCount}"></span>개
                    </div>
                </div>
                <div class="item">
                    <div class="item-header">
                        <strong th:text="${name}"></strong>님의 관할 등기소 관리 법인수
                    </div>
                    <div class="item-body">
                        <span th:text="${totalCount}"></span>개
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <strong>법인 검색</strong>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form id="searchForm" name="searchForm" method="get">
                        <div class="search-field">
                            <div class="search-area search-compact">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="q" name="q" placeholder="법인 검색"
                                               th:value="${q}">
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-daterange">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    임기만료일
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="startDate" name="start"
                                                   th:value="${startDate}">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control" id="endDate" name="end"
                                                   th:value="${endDate}">
                                        </div>
                                    </div>
                                    <div class="col col-md-auto">
                                        <button type="button" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width: 250px">
                            <col>
                            <col style="width: 200px">
                            <col style="width: 150px">
                            <col style="width: 150px">
                            <col style="width: 150px">
                            <col style="width: 150px">
                        </colgroup>
                        <thead class="thead-light">
                        <tr>
                            <th>법인명</th>
                            <th>주소</th>
                            <th>등기소</th>
                            <th>등기번호</th>
                            <th>임기만료일</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="company: ${companies}">
                            <td><a th:href="'/company/' + ${company.id}" th:target="_blank"
                                   th:text="${company.companyName}"></a></td>
                            <td>
                                <div class="ellipsis" th:text="${company.companyAddress}">
                                </div>
                            </td>
                            <td th:text="${company.registerOffice}"></td>
                            <td th:text="${company.registerNumber}"></td>
                            <td th:text="${company.expiredAt}"></td>
                            <td th:text="${company.contactNumber}"></td>
                            <td>
                                <button type="button" class="btn btn-link p-0" name="history_search_btn" th:attr="data-id=${company.id}">
                                    이력보기
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <span>Total :  <span class="text-primary" th:text="${companiesPage.totalElements}"></span></span>
                            <nav class="ml-3">
                                <ul class="pagination pagination-sm" th:with="start=${T(Math).floor(companiesPage.number/10)*10 + 1},
                    last=(${start + 9 < companiesPage.totalPages ? start + 9 : companiesPage.totalPages})">
                                    <li class="page-item" th:class="${companiesPage.first} ? 'disabled'">
                                        <span class="page-link">
                                            <a th:href="${companiesPage.first} ? '#' :@{/company(page=${companiesPage.number},q=${q},start=${startDate},end=${endDate})}">
                                                <i class="fas fa-angle-left"></i>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == companiesPage.number + 1} ? 'active'">
                                        <a class="page-link" th:text="${page}" th:href="@{/company(page=${page},q=${q},start=${startDate},end=${endDate})}"></a>
                                    </li>
                                    <li class="page-item" th:class="${companiesPage.last} ? 'disabled'">
                                        <a class="page-link" th:href="${companiesPage.last} ? '#' : @{/company(page=${companiesPage.number + 2},q=${q},start=${startDate},end=${endDate})}">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark btn-sm" id="excel-down-btn">엑셀 다운</button>
                            <button type="button" class="btn btn-dark btn-sm" id="pdf-down-btn">PDF 다운</button>
                        </div>
                    </div>
                    <!--

                    <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span>Total :  <span class="text-primary">3</span></span>
                            </div>
                            <div>
                                <button type="button" class="btn btn-dark btn-sm">출력하기</button>
                                <button type="button" class="btn btn-dark btn-sm">엑셀다운받기</button>
                                <button type="button" class="btn btn-dark btn-sm">디엠출력</button>
                            </div>
                        </div>

                    -->
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>

        $(document).ready(function () {
            $('#search-btn').on('click', function () {
                $('#searchForm').submit()
            });

            $('#excel-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate;
                location.href = '/v1/companies/download/corporations.xlsx' + param;
            });

            $('#pdf-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate;
                location.href = '/v1/companies/download/dm.pdf' + param;
            });

            $('#q, #startDate, #endDate').keydown(function(e) {
                if (e.keyCode === 13) {
                    $('#searchForm').submit();
                }
            });

            $('button[name="history_search_btn"]').on('click', function () {
                window.open('/company/' + $(this).data('id') + '/history', '법인 이력', 'width=1200px,height=800px,scrollbars=yes');
            });

        });
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
    </script>
</th:block>
</html>