<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/company/add">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>법인 검색</h1>
                </div>
            </div>
            <div class="box-status">
                <div class="item">
                    <div class="item-header">
                        <strong th:text="${name}"></strong>님의 관할 등기소 등록 법인수
                    </div>
                    <div class="item-body">
                        <span th:text="${totalCount}"></span>개
                    </div>
                </div>
                <div class="item">
                    <div class="item-header">
                        <strong th:text="${name}"></strong>님의 관할 등기소 관리 법인수
                    </div>
                    <div class="item-body">
                        <span th:text="${totalCount}"></span>개
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <strong>법인 검색</strong>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <form id="searchForm" name="searchForm" method="get">
                        <div class="search-field">
                            <div class="search-area search-compact">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="q" name="q" placeholder="법인 검색" th:value="${q}">
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-daterange">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    임기만료일
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="startDate" name="start" th:value="${startDate}">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control" id="endDate" name="end" th:value="${endDate}">
                                        </div>
                                    </div>
                                    <div class="col col-md-auto">
                                        <button type="button" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width: 250px">
                            <col>
                            <col style="width: 150px">
                            <col>
                            <col>
                            <col style="width: 150px">
                            <col style="width: 150px">
                        </colgroup>
                        <thead class="thead-light">
                        <tr>
                            <th>법인명</th>
                            <th>주소</th>
                            <th>등기소</th>
                            <th>등기번호</th>
                            <th>임기만료일</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="company: ${companies}">
                            <td><a th:href="'/company/' + ${company.id}" th:target="_blank"
                                   th:text="${company.companyName}"></a></td>
                            <td>
                                <div class="ellipsis" th:text="${company.companyAddress}">
                                </div>
                            </td>
                            <td th:text="${company.registerOffice}"></td>
                            <td th:text="${company.registerNumber}"></td>
                            <td th:text="${company.expiredAt}"></td>
                            <td th:text="${company.contactNumber}"></td>
                            <td>
                                <button type="button" class="btn btn-link p-0" data-toggle="modal" th:data-target="'#modal-executive-' + ${company.id}">
                                    이력보기
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal fade modal-executive" th:each="company: ${companies}" th:id="'modal-executive-' + ${company.id}">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">이력보기</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="accordion" id="companyHistoryAccordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne">
                                                        법인 이력
                                                    </button>
                                                </h2>
                                            </div>

                                            <div id="collapseOne" class="collapse show" data-parent="#companyHistoryAccordion">
                                                <div class="card-body">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th>유형</th>
                                                                <th>등기소</th>
                                                                <th>등기번호</th>
                                                                <th>법인등록번호</th>
                                                                <th>상호</th>
                                                                <th>법인관리상태</th>
                                                                <th>법인상태</th>
                                                                <th>변경일</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" >
                                                        업장 이력
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#companyHistoryAccordion">
                                                <div class="card-body">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th>유형</th>
                                                            <th>법인주소</th>
                                                            <th>송달주소</th>
                                                            <th>사업자번호</th>
                                                            <th>업종</th>
                                                            <th>업태</th>
                                                            <th>결산기일</th>
                                                            <th>변경일</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <span>Total :  <span class="text-primary" th:text="${totalCount}"></span></span>
<!--                            <nav class="ml-3">-->
<!--                                <ul class="pagination pagination-sm" th:each="pageNumber : ${pageNumbers}">-->
<!--                                    <li class="page-item" th:if="${pageNumber != currentPage}">-->
<!--                                        <a class="page-link" href="#" th:text="${pageNumber}"></a>-->
<!--                                    </li>-->

<!--                                    <li class="page-item active" aria-current="page" th:if="${pageNumber == currentPage}">-->
<!--                                        <span class="page-link" th:text="${pageNumber}">-->
<!--                                            <span class="sr-only">(current)</span>-->
<!--                                        </span>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->
                            <nav class="ml-3" th:if="${companiesPage.totalPages gt 0}">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item" th:classappend="${companiesPage.number eq 0} ? 'disabled'">
                                        <a class="page-link" th:href="@{/company?page={id}(id=${companiesPage.number lt 2 ? 1 : companiesPage.number})}">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <th:block th:each="pageNo : ${#numbers.sequence( companiesPage.number + 1, companiesPage.totalPages > 10 + companiesPage.number ? companiesPage.number + 10 : companiesPage.totalPages, 1)}">
                                        <li class="page-item active" aria-current="page" th:if="${companiesPage.number + 1 eq pageNo}">
                                            <span class="page-link" th:text="${pageNo}">
                                                <span class="sr-only">(current)</span>
                                            </span>
                                        </li>
                                        <li class="page-item" th:if="${not (companiesPage.number + 1 eq pageNo)}">
                                            <a class="page-link" th:href="@{${'/company'}(page=${pageNo})}" th:text="${pageNo}"></a>
                                        </li>
                                    </th:block>
                                    <li class="page-item" th:classappend="${companiesPage.number + 1 eq companiesPage.totalPages} ? 'disabled'">
                                        <a class="page-link" th:href="@{/company?page={id}(id=${companiesPage.number + 2})}">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark btn-sm" id="excel-down-btn">엑셀 다운</button>
                            <button type="button" class="btn btn-dark btn-sm" id="pdf-down-btn">PDF 다운</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>

        $(document).ready(function () {
            $('#search-btn').on('click', function () {
                $('#searchForm').submit()
            });

            $('#excel-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q='+ q +'&start=' + startDate+ '&end=' + endDate;
                location.href = '/v1/companies/download/corporations.xlsx' + param;
            });

            $('#pdf-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q='+ q +'&start=' + startDate+ '&end=' + endDate;
                location.href = '/v1/companies/download/dm.pdf' + param;
            });


        });
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
        // $('.input-daterange input').each(function() {
        //     $(this).datepicker('clearDates');
        // });
    </script>
</th:block>
</html>