<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <div class="box-status">
                    <div class="item">
                        <div class="item-header">
                             등록 법인수
                        </div>
                        <div class="item-body">
                            <span th:text="${#numbers.formatDecimal(totalCount, 0, 'COMMA', 0, 'POINT')}"></span>개
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-header">
                            관리 법인수
                        </div>
                        <div class="item-body">
                            <span th:text="${#numbers.formatDecimal(manageCount, 0, 'COMMA', 0, 'POINT')}"></span>개
                        </div>
                    </div>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" onclick="openAddForm();">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 이력관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main list-company">
            <div class="card">
                <div class="card-body">
                    <form id="searchForm" name="searchForm" method="get">
                        <div class="search-field">
                            <div class="search-area">
                                <div class="row no-gutters">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <select class="form-control form-select" name="searchRange" id="searchRange">
                                                    <option th:selected="${searchRange == 'ALL'}" th:value="ALL">전체검색</option>
                                                    <option th:selected="${searchRange == '법인등록번호'}" th:value="법인등록번호">법인등록번호</option>
                                                    <option th:selected="${searchRange == '등기번호'}" th:value="등기번호">등기번호</option>
                                                    <option th:selected="${searchRange == '법인명'}" th:value="법인명">법인명</option>
                                                    <option th:selected="${searchRange == '법인관리번호'}" th:value="법인관리번호">법인관리번호</option>
                                                    <option th:selected="${searchRange == '주소'}" th:value="주소">주소</option>
                                                    <option th:selected="${searchRange == '임원이름'}" th:value="임원이름">임원이름</option>
                                                </select>
                                            </div>
                                            <input type="text" class="form-control" id="q" name="q" placeholder="검색어 입력"
                                                   th:value="${q}">
                                        </div>
                                    </div>
                                    <div class="col col-7 ml-2">
                                        <div class="d-flex align-items-center">
                                            <div class="input-group input-daterange">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        임기만료일
                                                    </div>
                                                </div>
                                                <input type="text" class="form-control" id="startDate" name="start"
                                                       th:value="${startDate}" onkeyup="inputDateFormat(this)">
                                                <div class="input-group-addon">~</div>
                                                <input type="text" class="form-control" id="endDate" name="end"
                                                       th:value="${endDate}" onkeyup="inputDateFormat(this)">
                                            </div>
                                            <div class="form-check form-check-inline ml-2 nowrap">
                                                <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="positionTarget" name="positionTarget" value="감사" th:checked="${positionTarget == '감사'}"><i></i>
                                                    </span>
                                                    <label for="positionTarget">감사</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2 no-gutters">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    법인상태
                                                </div>
                                            </div>
                                            <select class="form-control form-select" name="searchType" id="searchType">
                                                <option th:selected="${searchType == '유효법인'}" th:value="유효법인">유효법인</option>
                                                <option th:selected="${searchType == '본점전출(폐쇄)'}" th:value="|본점전출(폐쇄)|">본점전출(폐쇄)</option>
                                                <option th:selected="${searchType == '해산(간주)'}" th:value="|해산(간주)|">해산(간주)</option>
                                                <option th:selected="${searchType == '조직변경해산'}" th:value="조직변경해산">조직변경해산</option>
                                                <option th:selected="${searchType == '청산종결(간주)'}" th:value="|청산종결(간주)|">청산종결(간주)</option>
                                                <option th:selected="${searchType == '법인회생'}" th:value="법인회생">법인회생</option>
                                                <option th:selected="${searchType == '법인파산'}" th:value="법인파산">법인파산</option>
                                                <option th:selected="${searchType == '기타폐쇄'}" th:value="기타폐쇄">기타폐쇄</option>
                                                <option th:selected="${searchType == '기타'}" th:value="기타">기타</option>
                                                <option th:selected="${searchType == 'ALL'}" th:value="ALL">전체법인</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col ml-2">
                                        <div class="input-group input-daterange">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    수정일
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="modifiedStartDate" name="modifiedStartDate"
                                                   th:value="${modifiedStartDate}" onkeyup="inputDateFormat(this)">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control" id="modifiedEndDate" name="modifiedEndDate"
                                                   th:value="${modifiedEndDate}" onkeyup="inputDateFormat(this)">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2 no-gutters">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    관리상태
                                                </div>
                                            </div>
                                            <div class="form-control">
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-1" name="state" th:checked="${#strings.contains(state, '신규법인')}"
                                                               th:value="신규법인"><i></i>
                                                    </span>
                                                        <label for="state-1">신규법인</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-2" name="state" th:checked="${#strings.contains(state, '관리법인')}"
                                                               th:value="관리법인"><i></i>
                                                    </span>
                                                        <label for="state-2">관리법인</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-3" name="state" th:checked="${#strings.contains(state, '관리종결(장기미등기)')}"
                                                               th:value="|관리종결(장기미등기)|"><i></i>
                                                    </span>
                                                        <label for="state-3">관리종결(장기)</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-4" name="state" th:checked="${#strings.contains(state, '관리종결(DM반송)')}"
                                                               th:value="|관리종결(DM반송)|"><i></i>
                                                    </span>
                                                        <label for="state-3">관리종결(반송)</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-5" name="state" th:checked="${#strings.contains(state, '관리종결(폐업)')}"
                                                               th:value="|관리종결(폐업)|"><i></i>
                                                    </span>
                                                        <label for="state-3">관리종결(폐업)</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="state-6" name="state" th:checked="${#strings.contains(state, '관리종결(기타)')}"
                                                               th:value="|관리종결(기타)|"><i></i>
                                                    </span>
                                                        <label for="state-3">관리종결(기타)</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <button type="button" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-scroll">
                        <div id="loading-area" class="loading">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="110px" />
                                <col width="110px" />
                                <col width="80px" />
                                <col width="200px" />
                                <col/>
                                <col width="100px" />
                            </colgroup>
                            <thead class="thead-light">
                            <tr>
                                <th>법인상태</th>
                                <th>등기소</th>
                                <th>등기번호</th>
                                <th>법인명</th>
                                <th>주소</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="companyListBody">
                                <th:block th:each="company: ${companies}">
                                    <tr name="companyRow" th:attr="data-id=${company.id}">
                                        <td th:text="${company.companyState}"></td>
                                        <td th:text="${company.registerOfficeSlicedName}"></td>
                                        <td th:text="${company.registerNumber}"></td>
                                        <td>
                                            <a href="#none" class="btn btn-link p-0" th:name="companyTitle" th:attr="data-id=${company.id}"
                                               th:text="${company.companyName}"></a>
                                        </td>
                                        <td th:title="${company.companyAddress}">
                                            <div class="nowrap" th:text="${company.companyAddress}">
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-link p-0" name="detail_btn" th:attr="data-id=${company.id}">
                                                법인 현황
                                                <i class="fas fa-external-link-alt"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Total :
                            <span class="text-primary" th:if="${companies} == null">0</span>
                            <span class="text-primary" th:unless="${companies} == null" th:text="${#lists.size(companies)}"></span>
                        </span>
                        <div>
                            <button type="button" class="btn btn-dark btn-sm" id="excel-down-btn">엑셀 다운</button>
                            <button type="button" class="btn btn-dark btn-sm" id="pdf-down-btn">PDF 다운</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" >
                <div>
                    <div class="panel-header">
                        임원정보
                    </div>
                    <div class="panel-body">
                        <div class="table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>(직위)이름</th>
                                        <th>취임일</th>
                                        <th>만료일</th>
                                    </tr>
                                </thead>
                                <tbody id="executive_panel">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="panel-header">
                        요약정보
                    </div>
                    <div class="panel-body">
                        <div class="table">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col style="width: 85px">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>대표자</th>
                                    <td id="masterName"></td>
                                </tr>
                                <tr>
                                    <th>휴대폰</th>
                                    <td id="mobile"></td>
                                </tr>
                                <tr>
                                    <th>유선전화</th>
                                    <td id="phone"></td>
                                </tr>
                                <tr>
                                    <th>직통번호</th>
                                    <td id="directPhone"></td>
                                </tr>
                                <tr>
                                    <th>회사팩스</th>
                                    <td id="fax"></td>
                                </tr>
                                <tr>
                                    <th>공장</th>
                                    <td id="factory"></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td id="email"></td>
                                </tr>
                                <tr>
                                    <th>이메일(세금)</th>
                                    <td id="taxEmail"></td>
                                </tr>
                                <tr>
                                    <th>주의 사항</th>
                                    <td id="precautions" class="precautions"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>

        $(document).ready(function () {
            $('#loading-area').hide();
            $('#search-btn').on('click', function () {

                if($('#searchRange').val() == '등기번호') {
                    if(!$.isNumeric($('#q').val())) {
                        alert('등기번호 검색은 숫자만 가능합니다.');
                        return false;
                    }
                }
                $('#searchForm').submit()
            });

            $('#excel-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let modifiedStartDate = $('#modifiedStartDate').val();
                let modifiedEndDate = $('#modifiedEndDate').val();
                let searchType = $('#searchType').val();
                let positionTarget = $('#positionTarget').val();
                let state = [];
                $("input:checkbox[name='state']:checked").each(function(){
                    state.push($(this).val())
                });
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate + '&searchType=' + searchType + '&state=' + state + '&positionTarget' + positionTarget + '&modifiedStartDate=' + modifiedStartDate + '&modifiedEndDate=' + modifiedEndDate;
                location.href = '/v1/companies/download/corporations.xlsx' + param;
            });

            $('#pdf-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let modifiedStartDate = $('#modifiedStartDate').val();
                let modifiedEndDate = $('#modifiedEndDate').val();
                let searchType = $('#searchType').val();
                let positionTarget = $('#positionTarget').val();
                if(startDate == '' || endDate == '') {
                    alert('DM 다운로드 시 임기만료일 검색값은 필수 입니다.');
                    return false;
                }

                let state = [];
                $("input:checkbox[name='state']:checked").each(function(){
                    state.push($(this).val())
                });
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate + '&searchType=' + searchType + '&state=' + state + '&positionTarget' + positionTarget + '&modifiedStartDate=' + modifiedStartDate + '&modifiedEndDate=' + modifiedEndDate;
                location.href = '/v1/companies/download/dm.pdf' + param;
            });

            $('#q, #startDate, #endDate').keydown(function(e) {
                if (e.keyCode === 13) {
                    $('#searchForm').submit();
                }
            });

            $('button[name="detail_btn"]').on('click', function () {
                window.open('/company/' + $(this).data('id') + '/detail-popup', '법인 현황', 'width=800px,height=800px,scrollbars=yes');
            });

            $('a[name="companyTitle"]').on('click', function () {
                var xPos = document.body.offsetWidth - 1000;
                window.open('/company/' + $(this).data('id'), '법인 상세', 'width=1000px,height=1000px,left='+xPos+',scrollbars=yes');
            });

            $('tr[name="companyRow"]').on('click', function() {
                //$('#loading-area').show();
                var id = $(this).data('id');
                $('tr[name="companyRow"]').removeClass('active');
                $(this).addClass('active');
                $.ajax({
                    url: "/v1/companies/" + id +"/summary",
                    method: "GET",
                    dataType: "json"
                }).done(function(data){
                    $('#executive_panel').empty();
                    $.each(data.executives, function(i, v){

                        var inauguratedAt = '';
                        var expiredAt = '';

                        if(v.inauguratedAt != null) {
                            inauguratedAt = v.inauguratedAt;
                        }
                        if(v.expiredAt != null) {
                            expiredAt = v.expiredAt;
                        }

                        var senList = '';
                        senList += '<tr>';
                        senList += '<td>(' + v.position + ')' + v.name + '</td>';
                        senList += '<td>'+ inauguratedAt +'</td>';
                        senList += '<td>'+ expiredAt +'</td>';
                        senList += '</tr>';
                        $('#executive_panel').append(senList);
                    });

                    $.each(data.contacts, function(i, v){
                        let contactValue = '';
                        if(v.memo == null || v.memo == '') {
                            contactValue = v.value;
                        } else {
                            contactValue = v.value + '(' + v.memo + ')';
                        }
                        if(v.type === 'MOBILE') {
                            $('#mobile').text(contactValue);
                        } else if(v.type === 'PHONE') {
                            $('#phone').text(contactValue);
                        } else if(v.type === 'DIRECT_PHONE') {
                            $('#directPhone').text(contactValue);
                        } else if(v.type === 'FAX') {
                            $('#fax').text(contactValue);
                        } else if(v.type === 'EMAIL') {
                            $('#email').text(contactValue);
                        } else if(v.type === 'TAX_EMAIL') {
                            $('#taxEmail').text(contactValue);
                        } else if(v.type === 'FACTORY') {
                            $('#factory').text(contactValue);
                        }
                    });
                    $('#masterName').text(data.companyMasterName);
                    var precautions = $('#precautions').text(data.precautions);
                    precautions.html(precautions.html().replace(/\n/g, '<br/>'));
                }).fail(function(xhr, status, errorThrown) {
                    //$('#loading-area').hide();
                }).always(function(xhr, status) {
                    //$('#loading-area').hide();
                });
            });


        });
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });

        function inputDateFormat(obj) {
            obj.value = hyphen(obj.value);
        }

        function hyphen(str) {
            str = String(str);
            return str.replace(/(\d{4})(\d{2})(\d{2})/, '$1-$2-$3');
        }

        function openAddForm() {
            var xPos = document.body.offsetWidth - 1000;
            window.open('/company/add', '법인 등록', 'width=1000px,height=1000px,left='+xPos+',scrollbars=yes');
        }

    </script>
</th:block>
</html>