<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
    <th:block layout:fragment="content_body">
        <!-- container -->
        <div class="container-fluid">
            <!-- sidebar -->
            <nav class="sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <!-- <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    <i class="fas fa-home"></i>
                                    Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li> -->
                        <li class="nav-item">
                            <p class="sidebar-heading">법인관리</p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/company">
                                        <i class="fas fa-search"></i>
                                        법인 검색
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/company/add">
                                        <i class="fas fa-pencil-alt"></i>
                                        법인 등록
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <p class="sidebar-heading">상담 관리</p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/consult">
                                        <i class="fas fa-comment-alt"></i>
                                        상담 관리
                                    </a>
                                </li>
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link " href="#">-->
<!--                                        <i class="fas fa-gavel"></i>-->
<!--                                        사건 관리-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <p class="sidebar-heading">DM 관리</p>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/dm">
                                        <i class="fas fa-envelope-open-text"></i>
                                        DM 관리
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- //sidebar -->

            <!-- contents -->
            <main role="main" class="main">
                <div class="page-header">
                    <div>
                        <h1>DM 등록</h1>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="">작성자</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-5 mb-3">
                                    <label for="">작성일시</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="">기본 DM 설정</label>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h4 class="mb-3">
                                <i>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dot" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                    </svg>
                                </i>
                                <strong>DM 내용</strong>
                            </h4>
                            <div class="dm">
                                <div class="top">
                                    <div class="sender">
                                        <p class="name">법무사이상훈사무소</p>
                                        <p class="address">용인시 기흥구 구갈로 60번길 19, 302호(구갈동, 금강프라자)</p>
                                        <ul>
                                            <li>
                                                <span>TEL :</span>
                                                <strong>(대표) 895-4522</strong>
                                            </li>
                                            <li>
                                                <span>FAX :</span>
                                                <strong>895-4523</strong>
                                            </li>
                                            <li>
                                                <span>우)</span>
                                                <strong>16972</strong>
                                            </li>
                                            <li>
                                                <span>문서번호 :</span>
                                                <strong>7248 <span>[1806]</span></strong>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="recipient">
                                        <p class="address">
                                            경기도 용인시 기흥구 보정로 117 (보정동) <br /> 주식회사 씨에이치산업개발
                                        </p>
                                        <p class="name">대표이사 최철규님 귀하</p>
                                        <p class="post">16898</p>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="content">
                                        <p>제목 : <strong>임기만료 안내문</strong></p>
                                        <ol>
                                            <li>
                                                귀사의 무궁한 발전을 기원합니다.
                                            </li>
                                            <li>
                                                임기만료안내
                                                <div>
                                                    <p>안녕하십니까. 기흥구청 앞에 있는 이상훈법무사입니다.</p>
                                                    <p><strong>이번에 아래와 같이 귀사의 임원임기가 만료되었음을 안내해 드리오니, 연락주시면 귀사를 직접 방문하여 성심성의껏
                                                        업무처리를 도와드리겠습니다.</strong></p>
                                                </div>
                                                <div>
                                                    <p>아래</p>
                                                    <table>
                                                        <thead>
                                                        <tr>
                                                            <th>직위</th>
                                                            <th>성명</th>
                                                            <th>만기일자</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>대표이사</td>
                                                            <td>최철규</td>
                                                            <td>2018년 08년 08일</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                    <p><strong>참고사항</strong></p>
                                                    <ol>
                                                        <li>법정기간(2주)내에 임원변경등기를 하지 않으면 500만원 이하의 과태료가 부과될 수 있음을 각별히 유의하시기
                                                            바랍니다.</li>
                                                        <li>위 정보는 일반에게 공개되는 법인등기부에 의해 확인된 사실을 기초로 작성된 것이므로, 개인정보침해는 전혀 없음을
                                                            밝혀 드립니다.</li>
                                                        <li>대표이사(1인 이사인 경우는 이사)의 경우는 그 주소가 변경된 경우에도 2주이내에 변경등기하셔야 과태료부과를 피하실
                                                            수 있음을 특별히 기억하시기 바랍니다.</li>
                                                    </ol>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div>
                                        <p>법무사 이상훈 사무소</p>
                                        <p>문의전화 : (대표)895-4522 팩스:895-4523 [기흥구청 앞]</p>
                                    </div>
                                    <p>"법인등기 이외에도 귀사의 채권채무문제, 가압류 가처분 및 부동산취득 등 각종 법률문제에 대해서도 문의하시면 정성과 책임을 다해 상담하여 드리겠습니다."
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <div>
                                <button type="submit" class="btn btn-dark">등록</button>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <!-- //contents -->

        </div>
        <!-- //container -->
        <script>
            $('.input-daterange').datepicker({
                language: "ko",
                todayHighlight: true
            });
            // $('.input-daterange input').each(function() {
            //     $(this).datepicker('clearDates');
            // });
        </script>
    </th:block>
</html>