<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" onclick="window.open('/company/add', '법인 등록', 'width=1000px,height=1000px,scrollbars=yes');">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 이력관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main list-dm">
            <div class="card">
                <div class="card-body">
                    <form id="searchForm" name="searchForm" method="get">
                        <div class="search-field">
                            <div class="search-area">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" name="q" placeholder="법인검색" th:value="${q}">
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-daterange">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    등록일자
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="startDate" name="start" th:value="${startDate}">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control" id="endDate" name="end" th:value="${endDate}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <button type="submit" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width: 200px">
                            <col>
                            <col>
                            <col style="width: 40px">
                            <col style="width: 80px">
                            <col style="width: 80px">
                        </colgroup>
                        <thead class="thead-light">
                        <tr>
                            <th>법인명</th>
                            <th>송달주소</th>
                            <th>발송 내용</th>
                            <th>상태</th>
                            <th>등록일</th>
                            <th>수정일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="history: ${histories}">
                            <td th:text="${history.companyName}"></td>
                            <td th:text="${history.address}"></td>
                            <td>
                                <th:block th:each="executive, stat : ${history.executives}">
                                    <th:block th:if="${stat.last}">
                                        <th:block th:text="|${executive.name}(${executive.position}) ${#dates.format(executive.expiredAt, 'yyyy-MM-dd')}|"></th:block>
                                    </th:block>
                                    <th:block th:if="${!stat.last}">
                                        <th:block th:utext="|${executive.name}(${executive.position}) ${#dates.format(executive.expiredAt, 'yyyy-MM-dd')}<br/>|"></th:block>
                                    </th:block>
                                </th:block>
                            </td>
                            <td th:switch="${history.state}">
                                <span th:case="${history.state.RETURN}"
                                      class="badge badge-pill badge-danger">반송</span>
                                <span th:case="${history.state.CREATED}"
                                      class="badge badge-pill badge-primary">생성</span>
                                <span th:case="${history.state.COMPLETE}"
                                      class="badge badge-pill badge-success">완료</span>
                            </td>
                            <td th:text="${#dates.format(history.createdAt, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(history.updatedAt, 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
        <!-- //contents -->
    </div>
    <!-- //container -->
    <script>
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
    </script>
</th:block>
</html>