<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/company/add">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>상담 등록</h1>
                </div>
            </div>
            <div class="card">

                <div class="card-body">
                    <form th:id="consult-form" th:name="consult" th:action="'/consult/' + ${consult.id} + '/edit'" method="post">
                        <input type="hidden" name="id" th:value="${consult.id}"/>
                        <input type="hidden" name="lawFirmId" th:value="${consult.lawFirmId}"/>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="consultant">상담자</label>
                                <input type="text" class="form-control" th:value="${consult.consultant}" id="consultant"
                                       name="consultant" th:readonly="true">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="companyClerk">법인담당자</label>
                                <input type="text" class="form-control" id="companyClerk" name="companyClerk" th:value="${consult.companyClerk}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="progress">상태</label>
                                <select class="form-control" id="progress" name="progress"
                                        th:field="*{consult.progress}">
                                    <option th:value="ONGOING">진행중</option>
                                    <option th:value="COMPLETE">진행완료</option>
                                    <option th:value="HOLD">보류</option>
                                    <option th:value="CANCEL">취소</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="companyName">법인 검색</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="companyName" name="companyName"th:readonly="true" th:value="${consult.companyName}">
                                    <input type="hidden" id="companyId" name="companyId" th:value="${consult.companyId}"/>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="expiredAt">임기만료일</label>
                                <input type="text" class="form-control" id="expiredAt" th:value="${consult.expiredAt}">
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="memo">메모</label>
                                <input type="text" class="form-control" id="memo" name="memo" th:value="${consult.memo}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="content">상담 내용</label>
                                <textarea name="content" id="content" cols="30" rows="10" class="form-control" th:value="${consult.content}" th:text="${consult.content}"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center">
                        <div>
                            <button type="button" id="update_btn" class="btn btn-dark">수정</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>
        $(document).ready(function () {
            $('#update_btn').on('click', function () {
                $('#consult-form').submit();
            });

        });


        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
    </script>
</th:block>
</html>