<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">법인관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#" onclick="window.open('/company/add', '법인 등록', 'width=1000px,height=1000px,scrollbars=yes');">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">상담 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/consult">
                                    <i class="fas fa-comment-alt"></i>
                                    상담 관리
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/dm">
                                    <i class="fas fa-envelope-open-text"></i>
                                    DM 이력관리
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main list-consult">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <strong>상담 목록</strong>
                        </div>
                        <div>
                            <a href="/consult/add" class="btn btn-dark btn-sm">등록하기</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="searchForm" name="searchForm" method="get">
                        <div class="search-field">
                            <div class="search-area">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="q" name="q" placeholder="법인명 / 상담자" th:value="${q}">
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-daterange">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    상담일자
                                                </div>
                                            </div>
                                            <input type="text" class="form-control" id="startDate" name="start" th:value="${startDate}">
                                            <div class="input-group-addon">~</div>
                                            <input type="text" class="form-control" id="endDate" name="end" th:value="${endDate}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    진행정도
                                                </div>
                                            </div>
                                            <div class="form-control">
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="progress_ongoing" name="progress" th:checked="${#lists.contains(progress, 'ONGOING')}"
                                                               th:value="ONGOING"><i></i>
                                                    </span>
                                                        <label for="progress_ongoing">진행중</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="progress_complete" name="progress" th:checked="${#lists.contains(progress, 'COMPLETE')}"
                                                               th:value="COMPLETE"><i></i>
                                                    </span>
                                                        <label for="progress_complete">진행완료</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="progress_hold" name="progress" th:checked="${#lists.contains(progress, 'HOLD')}"
                                                               th:value="HOLD"><i></i>
                                                    </span>
                                                        <label for="progress_hold">보류</label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <div class="form-input">
                                                    <span class="input">
                                                        <input type="checkbox" id="progress_cancel" name="progress" th:checked="${#strings.contains(progress, 'CANCEL')}"
                                                               th:value="CANCEL"><i></i>
                                                    </span>
                                                        <label for="progress_cancel">취소</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-area">
                                <button type="submit" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                            </div>
                        </div>
                    </form>
                    <div class="search-status">
                        <div>
                            <p><span>Total : </span><strong th:text="${consults.totalElements}"></strong>개</p>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width: 100px">
                            <col style="width: 100px">
                            <col style="width: 60px">
                            <col>
                            <col style="width: 80px">
                            <col style="width: 80px">
                            <col style="width: 80px">
                        </colgroup>
                        <thead class="thead-light">
                        <tr>
                            <th>법인명</th>
                            <th>상담일시</th>
                            <th>상담자</th>
                            <th>상담내용</th>
                            <th>진행예정일</th>
                            <th>임기만료일</th>
                            <th>진행정도</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="consult: ${consults.content}">
                            <td><a class="nowrap" href="#none" th:attr="data-id=${consult.companyId}" th:name="companyTitle" th:text="${consult.companyName}" th:title="${consult.companyName}"></a></td>
                            <td class="nowrap" th:text="${#dates.format(consult.createdAt, 'yyyy-MM-dd HH:mm:ss')}" th:title="${#dates.format(consult.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${consult.consultant}">@mdo</td>
                            <td>
                                <a th:href="'/consult/' + ${consult.id} + '/edit'" class="ellipsis" th:text="${consult.content}" th:title="${consult.content}"></a>
                            </td>
                            <td>
                                <div class="ellipsis" th:text="${#dates.format(consult.scheduledAt, 'yyyy-MM-dd')}" th:title="${#dates.format(consult.scheduledAt, 'yyyy-MM-dd')}"></div>
                            </td>
                            <td th:text="${consult.expiredAt}"></td>
                            <td th:switch="${consult.progress}">
<!--                                <select class="form-control form-select form-select-sm" name="" id="">-->
<!--                                    <option value="취소">취소</option>-->
<!--                                    <option value="진행중">진행중</option>-->
<!--                                    <option value="완료">완료</option>-->
<!--                                    <option value="보류">보류</option>-->
<!--                                </select>-->

                                <span th:case="${consult.progress.CANCEL}"
                                      class="badge badge-pill badge-danger">취소</span>
                                <span th:case="${consult.progress.ONGOING}"
                                      class="badge badge-pill badge-primary">진행중</span>
                                <span th:case="${consult.progress.COMPLETE}"
                                      class="badge badge-pill badge-success">완료</span>
                                <span th:case="${consult.progress.HOLD}"
                                      class="badge badge-pill badge-warning">보류</span>
                            </td>
<!--                            <td>-->
<!--                                <select class="form-control form-select form-select-sm">-->
<!--                                    <option th:value="${consult.progress.CANCEL}">취소</option>-->
<!--                                    <option th:value="${consult.progress.ONGOING}">진행중</option>-->
<!--                                    <option th:value="${consult.progress.COMPLETE}">완료</option>-->
<!--                                    <option th:value="${consult.progress.HOLD}">보류</option>-->
<!--                                </select>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" th:if="${consults.totalElements > 0}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <nav th:with="start=${T(Math).floor(consults.number/10)*10 + 1}, last=(${start + 9 < consults.totalPages ? start + 9 : consults.totalPages})">
                                <th:block
                                        th:with="firstAddr=@{/consult(page=1)}, prevAddr=@{/consult(page=${consults.number})}, nextAddr=@{/consult(page=${consults.number + 2})}, lastAddr=@{/consult(page=${consults.totalPages})}"/>
                                <ul class="pagination pagination-sm">
                                    <li class="page-item">
                                        <a class="page-link"
                                           th:href="${firstAddr}">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>

                                    <li class="page-item" th:class="${consults.first} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="${consults.first} ? '#' :${prevAddr}">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <th:block th:if="${last == 0}">
                                        <th:block th:with="last=${last + 1}"></th:block>
                                    </th:block>
                                    <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
                                        th:classappend="${page == consults.number + 1} ? 'active'">
                                        <a class="page-link" href="javascript:void(0);" th:onclick="'movePage(' + ${page  - 1} + ');'"
                                           th:text="${page}"></a>
                                    </li>
                                    <li class="page-item" th:class="${consults.last} ? 'disabled'">
                                        <a class="page-link"
                                           th:href="${consults.last} ? '#' :${nextAddr}">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           th:href="${lastAddr}">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>
        $(document).ready(function () {
            $('#search-btn').on('click', function () {
                $('#searchForm').submit()
            });
        });

        $('a[name="companyTitle"]').on('click', function () {
            window.open('/company/' + $(this).data('id'), '법인 상세', 'width=1350px,height=1000px,scrollbars=yes');
        });

        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });

        function movePage(page) {
            var param = '';
            if($('#q').val() != '') {
                param += '&q=' + $('#q').val();
            }

            if($('#startDate').val() != '' && $('#endDate').val() != '') {
                param += '&startDate=' + $('#startDate').val();
                param += '&endDate=' + $('#endDate').val();
            }

            var checkedProgress = '';
            $('input[name="progress"]').each(function(){
                if($(this).is(":checked")) {
                    if(checkedProgress == '') {
                        checkedProgress += $(this).val();
                    } else {
                        checkedProgress += ',' + $(this).val();
                    }
                }
            });

            if(checkedProgress != '') {
                param += '&progress=' + checkedProgress;
            }

            location.href = '/consult?page=' + page + param;

        }

    </script>
</th:block>
</html>