<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/main_layout">
<th:block layout:fragment="content_body">
    <!-- container -->
    <div class="container-fluid">
        <!-- sidebar -->
        <nav class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <p class="sidebar-heading">사용자 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/users">
                                    <i class="fas fa-search"></i>
                                    사용자 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/users/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    사용자 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">사무소 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/office">
                                    <i class="fas fa-search"></i>
                                    사무소 관리
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/office/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    사무소 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">법인 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/company">
                                    <i class="fas fa-search"></i>
                                    법인 검색
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/company/form">
                                    <i class="fas fa-pencil-alt"></i>
                                    법인 등록
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="sidebar-heading">DM 관리</p>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="/admin/dm">
                                    <i class="fas fa-search"></i>
                                    DM 검색
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- //sidebar -->

        <!-- contents -->
        <main role="main" class="main">
            <div class="page-header">
                <div>
                    <h1>사무소 관리</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="search-field">
                        <div class="search-area">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" id="q" name="q" placeholder="사무소 검색(이름)" />
                                </div>
                            </div>
                        </div>
                        <div class="btn-area">
                            <button type="button" class="btn btn-sm btn-dark" id="search-btn">검색</button>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th>이름</th>
                            <th>대표</th>
                            <th>주소</th>
                            <th>전화번호</th>
                            <th>팩스번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lawFirm: ${lawFirms}">
                            <td><a th:href="'/admin/office/' + ${lawFirm.id}" th:text="${lawFirm.name}"></a></td>
                            <td th:text="${lawFirm.representative}"></td>
                            <td th:text="${lawFirm.address}"></td>
                            <td th:text="${lawFirm.tel}"></td>
                            <td th:text="${lawFirm.fax}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </main>
        <!-- //contents -->

    </div>
    <!-- //container -->
    <script>

        $(document).ready(function () {
            $('#search-btn').on('click', function () {
                $('#searchForm').submit()
            });

            $('#excel-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate;
                location.href = '/v1/companies/download/corporations.xlsx' + param;
            });

            $('#pdf-down-btn').on('click', function () {
                let q = $('#q').val();
                let startDate = $('#startDate').val();
                let endDate = $('#endDate').val();
                let param = '?q=' + encodeURI(q) + '&start=' + startDate + '&end=' + endDate;
                location.href = '/v1/companies/download/dm.pdf' + param;
            });

            $('#q, #startDate, #endDate').keydown(function(e) {
                if (e.keyCode === 13) {
                    $('#searchForm').submit();
                }
            });

            $('button[name="history_search_btn"]').on('click', function () {
                window.open('/company/' + $(this).data('id') + '/history', '법인 이력', 'width=1200px,height=800px,scrollbars=yes');
            });

        });
        $('.input-daterange').datepicker({
            language: "ko",
            todayHighlight: true
        });
    </script>
</th:block>
</html>