html,
body {
  height: 100%;
  min-height: 100%;
  font-family: 'gulim', sans-serif; }

body {
  font-size: 13px;
  overflow-y: scroll; }

.input-group-text,
.btn,
.form-control,
select,
label {
  font-size: 13px; }

a {
  color: #343a40; }

/*
* login
*/
.page-login {
  height: 100%; }
.page-login .container-fluid:before {
  height: 420px; }
.page-login .card {
  background-color: #f7fafc; }
.page-login .card-body {
  padding: 50px 50px 30px; }
.page-login .card-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 20px 50px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent; }
.page-login h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase; }
.page-login .input-group {
  position: relative; }
.page-login .input-group i {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 4;
  text-align: center;
  line-height: 48px;
  opacity: .5; }
.page-login .input-group .form-control {
  height: 48px;
  padding-left: 50px;
  font-size: 13px;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  -webkit-transition: box-shadow .15s ease;
  transition: box-shadow .15s ease; }
.page-login .input-group .form-control:focus {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
.page-login .input-group .form-control:focus ~ i {
  opacity: 1; }
.page-login .btn {
  height: 48px;
  font-size: 13px; }

/*
* header
*/
.header {
  position: relative;
  z-index: 1;
  height: 40px;
  background: linear-gradient(87deg, #172b4d, #1a174d); }

.navbar {
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 100%;
  padding: 0; }
.navbar .nav {
  -webkit-box-align: center;
  align-items: center; }
.navbar .nav-item {
  padding: 8px; }
.navbar .nav-item .dropdown-item {
  font-size: 13px; }

.navbar-brand {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  display: block;
  width: 160px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  text-transform: uppercase; }

/*
* Container
*/
.container-fluid {
  height: calc(100% - 40px);
  padding: 0;
  box-sizing: border-box;
  background: #f8f9fe; }
.container-fluid:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background: linear-gradient(87deg, #172b4d, #1a174d); }

/*
* Sidebar
*/
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 40px;
  float: left;
  width: 160px;
  z-index: 100;
  /* Behind the navbar */
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  background: #fff; }
@media screen and (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden; } }
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 40px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky; } }
.sidebar .box-status {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
  background: transparent;
  border-radius: 0; }
.sidebar .box-status .item {
  border: 0; }
.sidebar .box-status .item .item-header {
  background-color: #343a40;
  color: #fff; }
.sidebar .nav-link {
  position: relative;
  padding: 10px 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5); }
.sidebar .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: transparent; }
.sidebar .nav-link i {
  min-width: 20px;
  text-align: center;
  margin-right: 10px;
  opacity: .6; }
.sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.03); }
.sidebar .nav-link:hover i {
  opacity: .8; }
.sidebar .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.03); }
.sidebar .nav-link.active:before {
  background-color: #1a174d; }
.sidebar .nav-link.active i {
  opacity: 1; }
.sidebar-heading {
  margin: 0;
  padding: 10px 24px;
  font-size: .75rem;
  color: #8898aa;
  text-transform: uppercase; }

/*
* Content
*/
.sidebar ~ .main {
  padding-left: 180px;
  background-color: #f7f8fd; }
@media screen and (max-width: 768px) {
  .sidebar ~ .main {
    padding-left: 10px;
    padding-right: 10px; } }

.main {
  padding: 10px 20px 40px;
  min-height: calc(100vh - 40px); }

/*
* page-header
*/
.page-header {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  color: #fff; }

/*
 * heading
*/
h1 {
  font-size: 22px;
  margin: 0; }

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0; }

h3 {
  font-size: 17px;
  font-weight: bold;
  margin: 0; }

h4 {
  font-size: 15px;
  margin: 0; }

h5 {
  font-size: 13px;
  margin: 0; }

/*
* Card
*/
.card {
  border: 1px solid #dedede;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15); }
.card-header, .card-footer {
  background-color: #fff; }
.card ~ .card {
  margin-top: 20px; }

/*
* table
*/
.table {
  margin-bottom: 0;
  color: #525f7f;
  table-layout: fixed; }
.table thead th {
  padding: 4px 6px;
  white-space: nowrap;
  vertical-align: middle; }
.table th {
  padding: 4px 6px;
  white-space: nowrap;
  vertical-align: middle; }
.table td {
  padding: 6px;
  vertical-align: middle; }
.table-overflow {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
.table-overflow th,
.table-overflow td {
  white-space: nowrap; }
.table-horizontal th {
  background-color: #f6f9fc;
  color: #8898aa;
  border-color: #e9ecef;
  font-weight: normal; }
.table-horizontal td .form-group {
  margin-bottom: 0; }
.table .thead-light th {
  background-color: #f6f9fc;
  color: #8898aa;
  border-bottom: 1px solid #e9ecef;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px; }
.table .ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all; }

/*
* Pagination
*/
.pagination {
  margin: 0; }
.pagination .page-item .page-link {
  color: #343a40; }
.pagination .page-item.disabled .page-link {
  color: #ddd; }
.pagination .page-item.active .page-link {
  color: #fff;
  border-color: #343a40;
  background-color: #343a40; }

/*
* tab
*/
.nav-pills .nav-link {
  color: #343a40; }
.nav-pills .nav-link.active {
  background-color: #343a40; }

/*
* Badge
*/
.badge {
  text-transform: capitalize;
  font-weight: normal; }

/*
* icon
*/
.icon {
  width: 48px;
  height: 48px; }
.icon-shape {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 12px;
  text-align: center; }

/*
 * form
*/
.form-input {
  display: inline-block; }
.form-input .input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 17px;
  height: 17px; }
.form-input label {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }
.form-input input[type="checkbox"],
.form-input input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  opacity: 0;
  cursor: pointer; }
.form-input input[type="checkbox"] + i,
.form-input input[type="radio"] + i {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 2px; }
.form-input input[type="checkbox"] + i:before,
.form-input input[type="radio"] + i:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  pointer-events: none; }
.form-input input[type="checkbox"]:checked + i,
.form-input input[type="radio"]:checked + i {
  background-color: #007bff;
  border-color: #007bff; }
.form-input input[type="checkbox"]:checked + i::before,
.form-input input[type="radio"]:checked + i::before {
  opacity: 1; }
.form-input input[type="checkbox"] + i:before {
  width: 7px;
  height: 5px;
  margin: 5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff; }
.form-input input[type="radio"] + i {
  border-radius: 100%; }
.form-input input[type="radio"] + i:before {
  width: 7px;
  height: 7px;
  margin: 5px;
  background-color: #fff;
  border-radius: 100%; }

.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6' /%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.form-select-sm {
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  height: calc(1.5em + .5rem + 2px);
  line-height: 1.5; }
.form-select:disabled {
  color: #6c757d;
  background-color: #e9ecef; }

.input-group .input-group-addon .input-group-text {
  border: 0;
  padding: 2px;
  font-size: 13px;
  background-color: transparent; }

/*
 * btn
*/
.btn-icon {
  width: 30px;
  padding: 0;
  line-height: auto;
  font-size: 13px; }

/*
 * search-field
*/
.search-field {
  margin-bottom: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch; }
.search-field .search-area {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 10px;
  border: 1px solid #e9ecef; }
.search-field .search-area.search-compact {
  background-color: #f6f9fc; }
.search-field .search-area.search-compact .row {
  -webkit-box-align: center;
  align-items: center; }
.search-field .btn-area {
  padding: 10px;
  text-align: right;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-left: none; }
.search-field .btn-area .btn {
  height: 100%; }
.search-field .input-group select.form-control {
  width: 1%;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  height: 100%; }
.search-field .input-group-prepend .input-group-text {
  background: #fff; }
.search-field .input-group-addon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da; }
.search-field .input-daterange .form-control:first-of-type {
  border-right: 0; }
.search-field .input-daterange .form-control:last-child {
  border-left: 0; }

.search-status {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.notification {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd; }

.notification li {
  list-style: none; }

.notification .message {
  color: #ff4016; }

.box-status {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: .25rem; }
.box-status .item {
  border: 1px solid #ddd;
  -webkit-box-flex: 0;
  flex: 0 1 50%;
  text-align: center; }
.box-status .item-header {
  padding: 10px;
  background-color: #f6f9fc; }
.box-status .item-body {
  padding: 10px; }
.box-status .item:first-child {
  border-right: none; }

.add-item + .add-item {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.add-item .btns {
  white-space: nowrap; }

.box-dm {
  border: 1px solid #ddd; }

.dm {
  width: 100%;
  font-family: "BatangChe";
  font-size: 16px;
  word-break: keep-all; }
.dm .td-top {
  vertical-align: top;
  height: 1%; }
.dm .td-middle {
  vertical-align: top; }
.dm .td-bottom {
  vertical-align: bottom; }
.dm ol,
.dm ul,
.dm li,
.dm p {
  margin: 0;
  padding: 0;
  list-style: none; }
.dm .top {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  min-height: 33.33333%;
  padding: 30px;
  line-height: 1.4; }
.dm .top .sender {
  text-align: left;
  margin-bottom: 50px; }
.dm .top .sender .name {
  font-size: 24px; }
.dm .top .sender ul {
  overflow: hidden; }
.dm .top .sender li {
  list-style: none;
  display: inline-block;
  min-width: 20%; }
.dm .top .recipient {
  text-align: right;
  font-size: 24px; }
.dm .middle {
  -webkit-box-flex: 1;
  flex: 1;
  min-height: 33.33333%;
  padding: 50px; }
.dm .middle .content > ol {
  counter-reset: list; }
.dm .middle .content > ol > li {
  font-family: "Gulim";
  counter-increment: list; }
.dm .middle .content > ol > li:before {
  content: counters(list, "") "."; }
.dm .middle .content > ol > li > div {
  padding-left: 20px; }
.dm .middle .table,
.dm .middle .notice {
  font-family: "BatangChe"; }
.dm .middle .table .line {
  position: relative;
  text-align: center;
  margin: 20px 0 5px; }
.dm .middle .table .line:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  left: 25%;
  top: 50%;
  background-color: #000; }
.dm .middle .table .line span {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  letter-spacing: 15px;
  background-color: #fff; }
.dm .middle .table table {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #999; }
.dm .middle .table th,
.dm .middle .table td {
  color: #000;
  border-color: #999;
  text-align: center;
  border-left: 1px solid #999;
  padding: 5px 10px; }
.dm .middle .notice {
  margin-top: 20px; }
.dm .middle .notice li {
  position: relative;
  counter-increment: li;
  padding-left: 30px; }
.dm .middle .notice li:before {
  content: "(" counters(li, "") ")";
  position: absolute;
  left: 0; }
.dm .bottom {
  text-align: center;
  padding: 30px; }
.dm .bottom .name {
  font-weight: bold;
  font-size: 22px; }
.dm .bottom .contact {
  font-size: 16px; }
.dm .bottom .desc {
  margin-top: 15px;
  font-family: "Gulim";
  font-size: 14px;
  text-align: left; }

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 0 auto;
  border: 2px red solid; }

.subpage {
  border: 2px blue solid;
  background: #fff;
  height: 257mm; }

@page {
  size: A4;
  margin: 0; }

@media print {
  html, body {
    width: 210mm;
    height: 297mm; }
  .page {
    margin: 0;
    border: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always; } }

.popup {
  padding: 20px; }

.popup .control {
  padding: 10px 0; }

.list-company {
  padding-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between; }
.list-company .card {
  height: calc(100vh - 40vh - 30px);
  overflow-y: auto;
  overflow-x: hidden; }
.list-company .panel {
  position: relative;
  height: calc(100vh - 60vh - 50px);
  margin: 0 -20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  border-left: 1px solid #dfdfee;
  display: -webkit-box;
  display: flex;
  box-shadow: 0px -3px 10px #21252945;
  background-color: #fff; }
.list-company .panel:after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  background-color: #dfdfee; }
.list-company .panel > div .panel-header {
  padding: 10px;
  background: #f8f8f8;
  border-bottom: 1px solid #dfdfee; }
.list-company .panel > div .panel-body {
  padding: 10px; }
.list-company .table-scroll {
  position: relative;
  height: calc(100vh - 55vh - 150px);
  border: none;
  box-shadow: inset 1px -1px #dee2e6; }
.list-company .table-scroll .loading {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5); }
.list-company .table-scroll table {
  zoom: 90%; }
.list-company .table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 1;
  box-shadow: inset 1px 1px #dee2e6, 0 1px #dee2e6;
  border: none; }
.list-company .table-scroll td {
  box-shadow: inset 1px -1px #dee2e6;
  border: none; }

.table-scroll {
  overflow: auto;
  border: none;
  box-shadow: inset 1px -1px #dee2e6; }
.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 3;
  box-shadow: inset 1px 1px #dee2e6, 0 1px #dee2e6;
  border: none; }
.table-scroll td {
  box-shadow: inset 1px -1px #dee2e6;
  border: none; }

.box-scroll {
  overflow: auto; }

.detail-company {
  zoom: 90%; }
.detail-company table {
  width: 100%; }
.detail-company .table-bordered th,
.detail-company .table-bordered td {
  padding: 3px; }
.detail-company .table-bordered th {
  background-color: #f8f8f8;
  white-space: nowrap;
  text-align: center; }
.detail-company .table-bordered + .table-bordered {
  margin-top: -1px; }
.detail-company .table-scroll,
.detail-company .box-scroll {
  max-height: 200px; }
.detail-company .box-scroll .row:only-child .mb-2 {
  margin-bottom: 0 !important; }
.detail-company .row-inline > div {
  display: -webkit-box;
  display: flex; }
.detail-company .row-inline > div > label {
  white-space: nowrap;
  align-self: center; }
.detail-company .btn.btn-sm {
  padding: .2rem .5rem; }
.detail-company label {
  color: #666;
  margin-bottom: 0; }
.detail-company .input-group .input-group-addon button {
  padding: 0 7px; }
.detail-company select {
  padding-right: .75rem;
  background-size: 8px 12px;
  background-position: right .25rem center; }
.detail-company .box-status .item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center; }
.detail-company .box-status .item > div {
  -webkit-box-flex: 1;
  flex: 1; }
.detail-company .card-header {
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 2px; }
.detail-company .card .row {
  margin: 0 5px; }
.detail-company .row {
  margin: 0 -5px; }
.detail-company .col-md-1 {
  -webkit-box-flex: 0;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }
.detail-company .col-md-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }
.detail-company .col-md-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }
.detail-company .col-md-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%; }
.detail-company .col-md-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }
.detail-company .col-md-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%; }
.detail-company .col, .detail-company .col-1, .detail-company .col-10, .detail-company .col-11, .detail-company .col-12, .detail-company .col-2, .detail-company .col-3, .detail-company .col-4, .detail-company .col-5, .detail-company .col-6, .detail-company .col-7, .detail-company .col-8, .detail-company .col-9, .detail-company .col-auto, .detail-company .col-lg, .detail-company .col-lg-1, .detail-company .col-lg-10, .detail-company .col-lg-11, .detail-company .col-lg-12, .detail-company .col-lg-2, .detail-company .col-lg-3, .detail-company .col-lg-4, .detail-company .col-lg-5, .detail-company .col-lg-6, .detail-company .col-lg-7, .detail-company .col-lg-8, .detail-company .col-lg-9, .detail-company .col-lg-auto, .detail-company .col-md, .detail-company .col-md-1, .detail-company .col-md-10, .detail-company .col-md-11, .detail-company .col-md-12, .detail-company .col-md-2, .detail-company .col-md-3, .detail-company .col-md-4, .detail-company .col-md-5, .detail-company .col-md-6, .detail-company .col-md-7, .detail-company .col-md-8, .detail-company .col-md-9, .detail-company .col-md-auto, .detail-company .col-sm, .detail-company .col-sm-1, .detail-company .col-sm-10, .detail-company .col-sm-11, .detail-company .col-sm-12, .detail-company .col-sm-2, .detail-company .col-sm-3, .detail-company .col-sm-4, .detail-company .col-sm-5, .detail-company .col-sm-6, .detail-company .col-sm-7, .detail-company .col-sm-8, .detail-company .col-sm-9, .detail-company .col-sm-auto, .detail-company .col-xl, .detail-company .col-xl-1, .detail-company .col-xl-10, .detail-company .col-xl-11, .detail-company .col-xl-12, .detail-company .col-xl-2, .detail-company .col-xl-3, .detail-company .col-xl-4, .detail-company .col-xl-5, .detail-company .col-xl-6, .detail-company .col-xl-7, .detail-company .col-xl-8, .detail-company .col-xl-9, .detail-company .col-xl-auto {
  padding: 0 5px; }
.detail-company .card-body {
  padding: 5px; }

/*# sourceMappingURL=maps/custom.css.map */
